/* Logos 
Controla el comportamiento de los logos, ya sea tamaño o visibilidad
*/
.main-nav__logo-box a img{
    max-width: 250px;
}

/* Header
Controla el comportamiento del header al hacer scroll
*/
.site-header-one {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.site-header-one.scrolled {
  background-color: #37465d !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important;
}